.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    @include min-width(mobile) {
      font-size: ptr(70, mobile);
    }
    @include min-width(tablet) {
      font-size: ptr(160, desktop);
    }
    font-weight: 800;
    color: white;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    a,
    p {
      display: flex;
      align-items: center;
      gap: 10px;
      @include min-width(mobile) {
        font-size: ptr(15, mobile);
      }
      @include min-width(tablet) {
        font-size: ptr(20, desktop);
      }

      text-decoration: none;
      font-weight: 100;
      color: #171717;
    }
    .linkdin {
      min-width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }
}
